<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <style>
        li {
            background-color: {{color}};
        }
    </style>
</head>
<body>
    <h1>show list</h1>
    <!-- {{zoo}} -->
    <hr>
    {% for one_animal in zoo : %}
        <li>there are {{one_animal.number}} {{one_animal.name}} in the zoo</li>
    {% endfor %}

    <hr>
    there are {{zoo|length}} animals in the zoo


</body>
</html>